//colors

$white: #ffffff !default;
$white100:#E2E2E2;
$white200:#E4E4E4;
$black: #000000 !default;
$black100: #131C1B;
$black200: #011D22;
$black300: #252525;
$balck400: #00171c;
$balck500: #141414;
$balck600: #00000038;
$gray100:#717784;
$gray200:#707070;
$gray300:#70707033;
$gray400:#f9f9f9;
$gray500: #A8A8A8;
$gray600:#747980;
$gray700:#F8F7F5;
$gray800: #F1F3F5;
$gray900: #656565;
$gray1001:#AAA8A7;
$primary:#2C5CA0;
$primaryh: #2a6ccb; 
$border:#131C1B26;
$danger: #DC5345;
$success: #4C7F3C;
$success100: #16D88E;
$greenlight: #00C907;
$ghost:#F8FCF7;  





// default font

$font-base: "Poppins", sans-serif;
$font-domine: 'Domine';

// Font Weights
$ft-w100:100;
$ft-w200:200;
$ft-w300:300; 
$ft-w400:400;
$ft-w500:500;
$ft-w600:600;
$ft-w700:700;
$ft-w800:800;