//colors

//White colors
$white-color: #ffffff;
$half-white-color: #ffffffb3;
//Black color
$black-color: #000000;
//Primary color
$primary-color: #217172;
//Border color
$border-color: #FFFFFF26;

//Gray color
$gray-200: #eee;
//Danger color
$danger: #ff242b;
//Success color
$success: #31BC3D;
//Warning color
$warning: #DEC329;