.more_pv {
    .active {
        background: #F1F3F5;
    }
}

.edit_img {
    img {
        border-radius: 50% !important;
    }
}

p.gallery_text {
    margin: 10px;
}
.update_pro {
    text-align: center;
    padding: 20px 0 40px;
}